<div mat-dialog-content class="bg-light text-white">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <mat-dialog-content>
    <form [formGroup]="updateForm" (submit)="$event.preventDefault(); updateProcess()" class="container">
        <label>Request Id:</label>
      <div class="row align-center">
        <div class="col">
            <input
              type="radio"
              class="btn-check"
              name="status"
              id="success-outlined"
              autocomplete="off"
              formControlName="status"
              value="approved"
              checked
            />
            <label class="btn btn-outline-success" for="success-outlined"
              >Approved</label
            >
        </div>
          <div class="col">
              <input
                type="radio"
                class="btn-check"
                name="status"
                id="danger-outlined"
              formControlName="status"
              value="denied"
                autocomplete="off"
              />
              <label class="btn btn-outline-danger" for="danger-outlined"
                >Declined</label
              >
          </div>
      </div>
      <div class="row mt-4">
        <div class="input-group">
            <span class="input-group-text">Additional Notes</span>
            <textarea class="form-control" formControlName="AdditionalNotes" aria-label="With textarea"></textarea>
          </div>
        </div>
        <button mat-button class="btn btn-primary mt-4 align-center">Submit</button>
      </form>
      <div class="warning" *ngIf="!formValid">Kindly Add the additional notes</div>
  </mat-dialog-content>


</div>