<div class="table-res">
        <div class="col-6 input-group mb-3 w-50">
                <input class="form-control" style="width: 20px" type="search" [(ngModel)]="searchName" placeholder="Search for a Merchant" (click)="search()">
                <select class="form-select" style="width: 5px;" [(ngModel)]="searchField">
                    <option value="Merchant_Trade_Name">Merchant Name</option>
                    <option value="RC_Number">Registration Number</option>
                    <option value="Business_type">Business Type</option>
                </select>
                <button class="btn btn-outline-secondary" type="Button" (click)="search()">Search</button>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Merchant Id</th>
            <th scope="col">Merchant Name</th>
            <th scope="col">Registration Number</th>
            <th scope="col">Bussiness Type</th>
            <th scope="col">Merchant Location</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let merchant of merchants | slice:(currentPage-1)*n:currentPage*n">
            <td>{{ merchant.MerchantID }}</td>
            <td>{{ merchant.Merchant_Trade_Name }}</td>
            <td>{{ merchant.RC_Number }}</td>
            <td>{{ merchant.Business_type }}</td>
            <td>{{ merchant.Business_location }}</td>
            <td>
            <span type="button" class="bi bi-three-dots"
                        (click)="openDialog(merchant)"
            >
        </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn-center" role="group">
        <button type="button" class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <button type="button" class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Continue</button>
    </div>
</div>