<div class="login-body">
  <div class="card col-5 signUpCard">
    <form
      [formGroup]="signupForm"
      (submit)="$event.preventDefault(); onSubmit()"
    >
      <div class="align-center">
        <select
          class="form-select form-select-lg"
          formControlName="jobPosition"
        >
          <option value="">Select User</option>
          <option value="POS Business Officer">POS Business Officer</option>
          <option value="Business Developer">Business Developer</option>
          <option value="Account Developer">Account Developer</option>
          <option value="POS Officer">POS Officer</option>
        </select>
      </div>
      <div *ngIf="signupForm.get('jobPosition')?.value">
        <div class="card-body">
          <div class="form-group">
            <div class="input-group mx-1 mb-2">
              <input
                style="width: 50%"
                type="text"
                class="form-control-md input1"
                placeholder="First Name"
                formControlName="firstname"
              />
              <input
                style="width: 50%"
                type="text"
                class="form-control-md input1"
                placeholder="Surname"
                formControlName="surname"
              />
            </div>
            <div class="row mx-1">
              <input
                type="text"
                class="form-control-md input1"
                placeholder="Username"
                formControlName="username"
              />
            </div>
            <div class="row mx-1">
              <select
                class="form-select form-select-lg"
                formControlName="Location"
                >
                <option value="">Location</option>
                <option *ngFor="let location of locations" [value]="location">{{location}}</option>
              </select>
            </div>
            <div class="row mx-1">
              <input
                type="email"
                class="form-control-md input1"
                placeholder="Email"
                formControlName="email"
              />
            </div>
            <div class="row mx-1 flex-nowrap">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control-md input1 ml-2"
                placeholder="Password"
                formControlName="password"
              />
              <span
                style="
                  font-size: 2.3rem;
                  position: relative;
                  right: 50px;
                  cursor: pointer;
                "
                class="bi bi-eye-fill"
                (click)="showPword()"
              >
              </span>
            </div>
            <div class="row mx-1 flex-nowrap">
              <input
                [type]="confirmPwrod ? 'text' : 'password'"
                class="form-control-md input1"
                placeholder="Confirm Password"
                id="confirm_password"
                formControlName="confirm_password"
              />
              <span
                style="
                  font-size: 2.3rem;
                  position: relative;
                  right: 50px;
                  cursor: pointer;
                "
                class="bi bi-eye-fill"
                (click)="confirmPword()"
              >
              </span>
            </div>
            <div class="row mx-1">
              <button type="submit" class="mt-2 btn btn-secondary btn-lg">
                Sign Up
              </button>
            </div>
          </div>
        </div>
      </div>
      <a [routerLink]="['']" class="text-white float-end">Return to Login</a>
    </form>
  </div>
</div>
