<div class="text-left mx-4">
  <app-navbar></app-navbar>
    <div class="row">
        <div class="col-8">
            <div class="row">
              <!-- Pending Status -->
                <div class="col card">
              <ng-container *ngFor="let dashboard of dashboard">
                      <div *ngIf="dashboard.status === 'Pending'" class="card-body dash-card">
                        <h5 class="card-text">
                          {{ dashboard.status }}
                        </h5>
                        <h1 class="card-title">
                          {{ dashboard.count }}
                        </h1>
                        <p class="dash-wrapper">
                          <span class="{{ dashboard.icon}} dash-icon"></span>
                        </p>
                    </div>
                  </ng-container>
              </div>
          
              <!-- Approved Status -->
                <div class="col card mx-4">
              <ng-container *ngFor="let dashboard of dashboard">
                      <div *ngIf="dashboard.status === 'Approved'" class="card-body dash-card">
                        <h5 class="card-title">
                          {{ dashboard.status }}
                        </h5>
                        <h1 class="card-text">
                          {{ dashboard.count }}
                        </h1>
                        <p class="dash-wrapper">
                          <span class="{{ dashboard.icon }} dash-icon"></span>
                        </p>
                    </div>
                  </ng-container>
              </div>
          
              <!-- Declined Status -->
                <div class="col card">
              <ng-container *ngFor="let dashboard of dashboard">
                      <div *ngIf="dashboard.status === 'Rejected'" class="card-body dash-card">
                        <h5 class="card-title">
                          {{ dashboard.status }}
                        </h5>
                        <h1 class="card-text">
                          {{ dashboard.count }}
                        </h1>
                        <p class="dash-wrapper">
                          <span class="{{ dashboard.icon }} dash-icon"></span>
                        </p>
                    </div>
                  </ng-container>
              </div>
          
            </div>
           <br />
           <div class="row">
             <!-- Deployed Status -->
               <div class="col card">
             <ng-container *ngFor="let dashboard of dashboard">
                     <div *ngIf="dashboard.status === 'Deployed'" class="card-body dash-card">
                       <h5 class="card-title">
                         {{ dashboard.status }}
                       </h5>
                       <h1 class="card-text">
                         {{ dashboard.count }}
                       </h1>
                       <p class="dash-wrapper">
                         <span class="{{ dashboard.icon }} dash-icon"></span>
                       </p>
                   </div>
                 </ng-container>
             </div>
         
             <!-- In Process Status -->
               <div class="col card mx-4">
             <ng-container *ngFor="let dashboard of dashboard">
                     <div *ngIf="dashboard.status === 'Processing'" class="card-body dash-card">
                       <h5 class="card-title">
                         {{ dashboard.status }}
                       </h5>
                       <h1 class="card-text">
                         {{ dashboard.count }}
                       </h1>
                       <p class="dash-wrapper">
                         <span class="{{ dashboard.icon }} dash-icon"></span>
                       </p>
                   </div>
                 </ng-container>
             </div>
         
             <!-- Total Status -->
               <div class="col card">
             <ng-container *ngFor="let dashboard of dashboard">
                     <div *ngIf="dashboard.status === 'Total'" class="card-body dash-card">
                       <h5 class="card-title">
                         {{ dashboard.status }}
                       </h5>
                       <h1 class="card-text">
                         {{ dashboard.count }}
                       </h1>
                       <p class="dash-wrapper">
                         <span class="{{ dashboard.icon }} dash-icon"></span>
                       </p>
                   </div>
                 </ng-container>
             </div>
         
           </div>
        </div>
        <div class="col-4 d-none d-sm-block">
            <app-notification [n]='4'></app-notification>
        </div>
    </div>
    <app-request [n]='6'></app-request>
</div>
