 <div class="text-left mx-4">
  <app-navbar></app-navbar> 
    <div class="row mb-5">
        <div class="col-8">
            <div class="row">
              <!-- Pending Status -->
                <div class="col card bg-warning">
              <ng-container *ngFor="let dashboard of dashboard">
                      <div *ngIf="dashboard.status === 'pending'" class="card-body dash-card">
                        <h5 class="card-text">
                          {{ dashboard.status }}
                        </h5>
                        <h1 class="card-title">
                          {{ dashboard.count }}
                        </h1>
                        <p class="spinner-border text-secondary float-end">
                          <span class="visually-hidden"></span>
                        </p>
                    </div>
                  </ng-container>
              </div>
              <!-- Approved Status -->
                <div class="col card mx-4 bg-success">
              <ng-container *ngFor="let dashboard of dashboard">
                      <div *ngIf="dashboard.status === 'approved'" class="card-body dash-card">
                        <h5 class="card-title">
                          {{ dashboard.status }}
                        </h5>
                        <h1 class="card-text">
                          {{ dashboard.count }}
                        </h1>
                        <p class="spinner-border text-light float-end">
                          <span class="visually-hidden"></span>
                        </p>
                    </div>
                  </ng-container>
              </div>
          
              <!-- Declined Status -->
                <div class="col card bg-danger">
              <ng-container *ngFor="let dashboard of dashboard">
                      <div *ngIf="dashboard.status === 'denied'" class="card-body dash-card">
                        <h5 class="card-title">
                          {{ dashboard.status }}
                        </h5>
                        <h1 class="card-text">
                          {{ dashboard.count }}
                        </h1>
                        <p class="spinner-border text-dark float-end">
                          <span class="visually-hidden"></span>
                        </p>
                    </div>
                  </ng-container>
              </div>
          
            </div>
           <br />
           <div class="row">
             <!-- Deployed Status -->
               <div class="col card bg-info">
             <ng-container *ngFor="let dashboard of dashboard">
                     <div *ngIf="dashboard.status === 'deployed'" class="card-body dash-card">
                       <h5 class="card-title">
                         {{ dashboard.status }}
                       </h5>
                       <h1 class="card-text">
                         {{ dashboard.count }}
                       </h1>
                       <p class="spinner-border text-light float-end">
                        <span class="visually-hidden"></span>
                      </p>
                 </div>
                 </ng-container>
             </div>
         
             <!-- In Process Status -->
               <div class="col card mx-4">
             <ng-container *ngFor="let dashboard of dashboard">
                     <div *ngIf="dashboard.status === 'in_process'" class="card-body dash-card">
                       <h5 class="card-title">
                         {{ dashboard.status }}
                       </h5>
                       <h1 class="card-text">
                         {{ dashboard.count }}
                       </h1>
                       <p class="spinner-border text-success float-end">
                        <span class="visually-hidden"></span>
                      </p>
                 </div>
                 </ng-container>
             </div>
         
             <!-- Total Status -->
               <div class="col card bg-success-subtle">
             <ng-container>
                     <div class="card-body dash-card">
                       <h5 class="card-title">
                         Total
                       </h5>
                       <h1 class="card-text">
                         {{ totalRequest }}
                       </h1>
                       <p class="spinner-border text-dark float-end">
                        <span class="visually-hidden"></span>
                      </p>
                 </div>
                 </ng-container>
             </div>
         
           </div>
        </div>
        <div class="col-4 d-none d-sm-block">
            <app-notification [n]='4'></app-notification>
        </div>
    </div>
    <app-request [n]='6'></app-request>
</div>
