<div class="table-responsive-sm">
  <!-- Filter Button -->
  <div class="dropdown float-end" *ngIf="!defineHomePage">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="statusDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-filter me-2"></i>
      {{selectedStatus || 'Filter Request'}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="statusDropdown">
      <li><a class="dropdown-item" href="#" (click)="selectedStatus = ''; $event.preventDefault()">All</a></li>
      <li><a class="dropdown-item" href="#" (click)="selectedStatus = 'Approved'; $event.preventDefault()">Approved</a></li>
      <li><a class="dropdown-item" href="#" (click)="selectedStatus = 'Pending'; $event.preventDefault()">Pending</a></li>
      <li><a class="dropdown-item" href="#" (click)="selectedStatus = 'Deployed'; $event.preventDefault()">Deployed</a></li>
      <li><a class="dropdown-item" href="#" (click)="selectedStatus = 'Rejected'; $event.preventDefault()">Rejected</a></li>
      <!-- Add more options as needed -->
    </ul>
  </div>
 

  <table class="table table-hover" >
    <thead>
      <tr>
        <th scope="col">Request Id</th>
        <th scope="col">Business Name</th>
        <th scope="col">No of POS</th>
        <th scope="col">Request Date</th>
        <th scope="col">Status</th>
        <th scope="col"> Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let posRequest of posRequests | slice:(currentPage-1)*n:currentPage*n">
        <ng-container *ngIf="!selectedStatus || posRequest.status === selectedStatus">
          <td>{{ posRequest.RequestId }}</td>
          <td>{{ merchant?.Merchant_Trade_Name }}</td>
          <td>{{ posRequest.No_of_POS_terminal }}</td>
          <td>{{ convertDate(posRequest.createdAt) }}</td>
          <td style="text-transform: capitalize;">{{ posRequest.status}}</td>
          <td>
            <span type="button" class="bi bi-three-dots" (click)="openDialog(posRequest, merchant)"></span> 
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
      <div class="btn-center" role="group" *ngIf="!defineHomePage">
        <button type="button" class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <button type="button" class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Continue</button>      </div>
</div>